<div class="modal fade" id="cheatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add food</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'add_cheat' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <button class="btn btn-primary">Add Cheat Meal</button>
                    </div>

                </form>


                {% if meditations %}
                    <hr>

                    <div id="hit_exercises_for_day">
                        <ul>
                            {% for cheat in cheats %}
                                <form method="post" action="{% url 'delete_cheat' %}">
                                    {% csrf_token %}
                                    <li>Cheat: {{ cheat.date }}</li>
                                    <input type="hidden" name="id" value="{{ cheat.id }}">
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>