<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add food</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm">
                        <form method="get" action="{% url  'nutrition_api_search' %}">
                            <div class="form-group">
                                <label for="nutrition_api_input">Enter food contents separated by commas:</label>
                                <input id="nutrition_api_input" class="form-control" type="text" name="search_term">
                            </div>
                            <button id="search_button" class="btn btn-primary">Add a new meal</button>
                            <div id="modal-or"> --or--</div>
                        </form>
                    </div>
                </div>

                <hr>
                {% if meals %}
                    <div class="row">
                        <div class="col-sm">
                            <form method="post" action="{% url 'add_existing_meal' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <select name="existing_meal_name">
                                        {% for meal in meals %}
                                            <option class="form-control"
                                                    value="{{ meal.name }}">{{ meal.name }}:{{ meal.description }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <input class="btn btn-primary" type="submit" value="Select Existing Meal">
                            </form>
                        </div>
                    </div>
                {% endif %}
                <hr>

                <div id="nutrition_entries_for_day">
                    <ul class="list-group" id="food-sroll">
                        {% for entry in entries %}
                            <li class="list-group-item">
                                <div class="row mt-2 mb-2">
                                    <div>{{ entry.description }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-4">

                                        <form method="post" action="{% url 'delete_entry' %}">
                                            <div class="form-group">
                                                {% csrf_token %}
                                                <input class="form-control" type="hidden" name="id"
                                                       value="{{ entry.id }}">
                                                <button class="btn btn-danger">Delete</button>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="col">
                                        <div class="row">
                                            <form method="post" action="{% url 'update_quantity' %}">
                                                <div class="form-group">
                                                    {% csrf_token %}
                                                    <input class="form-control col" name="num_servings" type="number" min=0
                                                           value="{{ entry.num_servings }}">
                                                    <input type="hidden" name="id" value="{{ entry.id }}">
                                                    <button class="btn btn-success col">Update Quantity</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </li>

                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>