{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Leverage</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <!-- place this in a head section -->
    <meta name="apple-mobile-web-app-capable" content="black"/>
    <link href="{% static 'images/leverage-2.png' %}" rel="apple-touch-startup-image"/>

{#    <link href="{% static 'images/leverage-2.png' %}" sizes="1668x2224" rel="apple-touch-startup-image"/>#}
{#    <link href="{% static 'images/leverage-2.png' %}" sizes="1536x2048" rel="apple-touch-startup-image"/>#}
{#    <link href="{% static 'images/leverage-2.png' %}" sizes="1125x2436" rel="apple-touch-startup-image"/>#}
{#    <link href="{% static 'images/leverage-2.png' %}" sizes="1242x2208" rel="apple-touch-startup-image"/>#}
{#    <link href="{% static 'images/leverage-2.png' %}" sizes="750x1334" rel="apple-touch-startup-image"/>#}
{#    <link href="{% static 'images/leverage-2.png' %}" sizes="640x1136" rel="apple-touch-startup-image"/>#}
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/card_style.css' %}">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <meta name="theme-color" content="#493174">
    <link rel="apple-touch-icon" href="{% static 'images/leverage-2.png' %}">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-bottom pe-nav">
    <div class="container">
        <div class="mx-auto">
            <img class="fade-in" src="{% static 'images/leverage-2.png' %}">
        </div>
    </div>
</nav>
<div class="container-fluid">
    {% block content %}
<script>
    let index_url = {{ index_url }};
</script>
    {% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
{#<script>#}
{#    let http_secure = {% if request.is_secure %}"https"{% else %}"http"{% endif %}#}
{#    let url = "{{  request.get_host }}"#}
{#</script>#}
<script src="{% static 'requests.js' %}"></script>
<script src="{% static 'js/nutrition_api.js' %}"></script>
<script src="{% static 'js/clock.js' %}"></script>
<script src="{% static 'js/slider.js' %}"></script>
<script src="{% static 'js/speedometer.js' %}"></script>
<script src="{% static 'js/check_for_update.js' %}"></script>



</html>