{% extends 'front_end/base.html' %}
{% load static %}


{% block content %}
    <script>
        let index_url = "{{ index_url }}";
    </script>
    <div class="row indicators">
        <div class="col-sm-12 ">
            {% include 'api/snippets/pe_ratio.html' %}

        </div>
        <div class="col-sm-12">
            {% include 'api/snippets/protein_amount.html' %}

        </div>
        <div class="col-sm-12">
            {% include 'api/snippets/exercise.html' %}

        </div>
        <div class="col-sm-12">
            {% include 'api/snippets/eating_window.html' %}

        </div>
        <div class="col-sm-12">
            {% include 'api/snippets/meditation.html' %}
        </div>
    </div>





    {% include 'front_end/snippets/food_modal.html' %}
    {% include 'front_end/snippets/exercise_modal.html' %}
    {% include 'front_end/snippets/meditation_modal.html' %}



    <script src="{% static 'js/nutrition_api.js' %}"></script>
{% endblock %}


