{% extends 'front_end/base.html' %}
{% load static %}


{% block content %}
    {#    <div id="pe_ratio">+</div>#}
    {#    <div id="pe_ratio_content"></div>#}
    <div class="row indicators">
        {% include 'api/snippets/pe_ratio.html' %}
        {% include 'api/snippets/protein_amount.html' %}
        {% include 'api/snippets/exercise.html' %}
        {% include 'api/snippets/eating_window.html' %}
        {% include 'api/snippets/meditation.html' %}
    </div>





    {% include 'front_end/snippets/food_modal.html' %}
    {% include 'front_end/snippets/exercise_modal.html' %}
    {% include 'front_end/snippets/meditation_modal.html' %}



    <script src="{% static 'js/nutrition_api.js' %}"></script>
{% endblock %}


