{% extends 'front_end/base.html' %}
{% load static %}


{% block content %}
    {#    <div id="pe_ratio">+</div>#}
    {#    <div id="pe_ratio_content"></div>#}
    <div class="row">
        {% include 'api/snippets/pe_ratio.html' %}
        {% include 'api/snippets/protein_amount.html' %}
        {% include 'api/snippets/exercise.html' %}
        {% include 'api/snippets/eating_window.html' %}
    </div>


    <div class="row mt-4">
        <!-- Button trigger modal -->
        <div class="col-sm mt-2">
            <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#exampleModal">
                Food
            </button>
        </div>

        <div class="col-sm mt-2">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#exerciseModal">
                Exercise
            </button>
        </div>
{#        <div class="col-sm mt-2">#}
{#            <!-- Button trigger modal -->#}
{#            <form action="get" action="{% url 'stop_eating_window' %}">#}
{#                <button type="button" class="btn btn-block btn-secondary" id="stop-eating-">#}
{#                    Stop eating#}
{#                </button>#}
{#            </form>#}
{#        </div>#}

    </div>




    {% include 'front_end/snippets/food_modal.html' %}
    {% include 'front_end/snippets/exercise_modal.html' %}



    <script src="{% static 'js/nutrition_api.js' %}"></script>
{% endblock %}


