html, body{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

#modal-or{
    margin-top: 1rem;
}

select {
  width: 100%;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
  -webkit-appearance: none;
}

#new_food_list{
    height: 100%;
    overflow: scroll;
}