/*Taken from https://www.w3schools.com/howto/howto_css_glowing_text.asp*/
.glow {
  color: #fff;
  background-color: #6208b8;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 500ms ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

div.container{
    height: 100%;
    overflow: scroll;
}

label{
  font-size: .75rem;
}

#new_food_list{
  margin-top: 20px;
  color: black;
}
#new_food_list > label,  #new_food_list > button{
  margin-top: 1rem;
}

.smaller-font{
  font-size: .75rem;
}

.rounded-card{
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.modal{
  color: black;
}

.progress_bar{
  width: 100%;
  transition: width 2s;
}

button.progress-bar{
  padding-left: 38%;
}
