/*Taken from https://www.w3schools.com/howto/howto_css_glowing_text.asp*/
.glow {
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

div.container{
    height: 100%;
    overflow: scroll;
}

label{
  font-size: .75rem;
}

#new_food_list > label,  #new_food_list > button{
  margin-top: 1rem;
}

.smaller-font{
  font-size: .75rem;
}

/*@media screen and (max-width: 767px){*/
  /*.card{*/
  /*width: 8rem;*/
/*}*/
/*}*/



/*@media screen and (min-width: 768px){*/
  /*.card{*/
  /*height: 140px;*/
  /*display: table-cell;*/
  /*vertical-align: middle;*/
/*}*/
/*}*/
